<div class="ctn-login">
  <h1>¡Bienvenido!</h1>
  <input type="text" placeholder="Ingresa tu nombre">
  <input type="text" placeholder="Ingresa tu apellido paterno">
  <input type="text" placeholder="Ingresa tu apellido materno">
  <input type="text" placeholder="Ingresa tu direccion">
  <input type="date" placeholder="Ingresa tu fechaNacimiento">
  <input type="text" placeholder="Ingresa tu numeroDocumento">
  <input type="text" placeholder="Ingresa tu userName">
  <input type="text" placeholder="Ingresa tu password">
  <button (click)="sendGetRequest()">REGÍSTRATE</button>
</div>
<!-- {
  "nombres": "Stefhany",
  "apellidoMaterno": "Martins",
  "apellidoPaterno": "Correia Escate",
  "direccion": "Calle 123, Urb. Valle Hermoso",
  "fechaNacimiento": "1992/09/16",
  "tipoDocumentoId": "2",
  "numeroDocumento": "000123456",
  "distritoId": "12",
  "generoId": "1",
  "estadoId": "1",
  "userName" : "STEFHANY123",
  "password" : "123456SM"
} -->
